*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
overflow: hidden;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgba(168, 109, 89, 0.603);
    display: flex;
    
}
#part1{
    height: 100%;
    width: 26%;
    /* background-color: red; */
}
#part2{
    height: 100%;
    width: 64%;
    background-color: rgb(23, 39, 161);
    background-image: url('https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(233, 150, 122, 0.311);

}
#part3{
    height: 100%;
    width: 10%;
    /* background-color: rgb(20, 173, 181); */
}
#text-div{
    /* height: 300px; */
    position: absolute;
    width: 400px;
    /* background-color: red; */
    left: 7%;
    top: 50%;
    transform: translate(0,-50%);
}
#text-div>h1{
    font-size: 85px;
    font-family: monument;
    font-weight: 800;
    line-height: 78px;
    color: #fff;
    letter-spacing: 8px;
    text-transform: uppercase;
}
#small-image-div{
    height: 400px;
    width: 300px;
    background-color: red;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    background-image: url('https://images.unsplash.com/photo-1529680459049-bf0340fa0755?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    position: center;

    
}
#overlay{
    #overlay{
        height: 100%;
        width: 100%;
        background-color: rgba(143, 103, 90, 0.311);
    
    }

}
#vertical-text{
    position: absolute;
    right: 0%;
    /* width: 100%; */
    color: transparent;
    z-index: 5;
    right: -58%;
    top: -7%;
   
    /* background-color: red; */
   

}
#vertical-text>h1{
    text-transform: uppercase;
    font-size: 67px;
    font-weight: 900;
    font-family: monument;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: 5px;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
    
}
#nav{
   position: absolute; 
   width: 250px;
   /* background-color: red; */
   display: flex;
   align-items: center;
   justify-content: space-between;
   left: 12%;
   top: 5%;

}
#nav img{
    height: 50px;

}
#nav h5{
    font-size: 20px;
    font-family: gilroy;
    color: #fff;
}